@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Gideon+Roman&family=Lato:wght@100&family=Lobster&family=Luxurious+Roman&family=Merienda:wght@700&family=Montserrat&family=Oswald:wght@400;500&family=Playfair+Display&family=Poppins:wght@100;500&family=Raleway:ital,wght@1,800&family=Roboto+Condensed:wght@300&family=Roboto:wght@100;500&family=Romanesco&family=Ubuntu:wght@700&family=Vollkorn:wght@500&display=swap');

.home {
  width: 100%;
  height: auto;
  padding-top: 105px;
  margin: 0;
}
.home .image {
  width: 100%;
  height: 450px;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.116);
  display: flex;
}
.image ul {
  top: 100px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
}
.image ul li {
  width: 10%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: block;
  animation: square 8s infinite;
}
.image ul li p {
  font-size: 2.5rem;
  font-weight: 900;
  color: #000;
  text-align: center;
  margin-top: 200px;
  transform: scale(-1, 1);
}
.image ul li:nth-child(1) {
  animation-delay: 1s;
  animation-direction: 5s;
  background: violet;
}
.image ul li:nth-child(2) {
  animation-delay: 1s;
  animation-direction: 5s;
  background: blue;
}
.image ul li:nth-child(3) {
  animation-delay: 1s;
  animation-direction: 5s;
  background: skyblue;
}
.image ul li:nth-child(4) {
  animation-delay: 1s;
  animation-direction: 5s;
  background: green;
}
.image ul li:nth-child(5) {
  animation-delay: 1s;
  animation-direction: 5s;
  background: yellow;
}
.image ul li:nth-child(6) {
  animation-delay: 1s;
  animation-direction: 5s;
  background: rgb(158, 173, 104);
}
.image ul li:nth-child(7) {
  animation-delay: 1s;
  animation-direction: 5s;
  background: rgb(173, 30, 161);
}
.image ul li:nth-child(8) {
  animation-delay: 1s;
  animation-direction: 5s;
  background: rgb(136, 165, 30);
}
.image ul li:nth-child(9) {
  animation-delay: 1s;
  animation-direction: 5s;
  background: rgb(17, 74, 160);
}
.image ul li:nth-child(10) {
  animation-delay: 1s;
  animation-direction: 5s;
  background: rgb(116, 20, 76);
}
.home .product{
  width: 100%;
  height: 100%;
  padding:0;
  margin: 0;
  background: #20a6f38a;
}
.home .product h2{
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding-top:40px;
  margin: 0;
}
.home .product p{
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  font-family: 'Playfair Display', serif;
  padding:5px;
  margin: 0;
}
.product .col-md-8{
  background: #20A4F3;
  padding:0;
  margin-top: 10px;
  width: 75%;
  height: 100%;
}
.product .col-md-8 .row{
  width: 100%;
  height: 100%;
  padding-top:20px;
  padding-bottom:20px;
  margin: 0;
  display: flex;
}
.product .col-md-8 .row .col-md-3{
  width: 25%;
  padding:10px;
  margin: 0;
  display: flex;
  justify-content: center;
}
.product .col-md-8 .row .col-md-3 a{
  padding: 10px;
  margin: 0;
  text-decoration: none;
  color: #fff;
}
.product .col-md-8 .row .col-md-3 a .card{
  width: 220px;
  height: 250px;
  padding: 0;
  margin: 0;
}
.product .col-md-8 .row .col-md-3 a .card .card-body{
  width: 100%;
  height: 70%;
  padding: 20px;
  margin: 0;
  background: #fff;
}
.product .col-md-8 .row .col-md-3 a .card .card-body i{
  font-size: 4rem;
  font-weight: 900;
  padding: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  color:#3066BE;
}
.product .col-md-8 .row .col-md-3 a .card .card-footer{
  width: 100%;
  height: 30%;
  padding: 5px;
  margin:0;
  display: flex;
  justify-content: center;
  background: #fff;
  border: none;
}
.product .col-md-8 .row .col-md-3 a .card .card-footer p{
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Playfair Display', serif;
  color: #000;
}
.product .col-md-4{
  width: 25%;
  height: 100%;
  padding: 0;
  margin-top: -50px;
}
.product .col-md-4 .box{
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 0;
  background: #F6F7F8;
  /* border-top-left-radius: 15px;
  border-bottom-left-radius: 15px; */
  border: 1px solid #F6F7F8;
}

.product .col-md-4 .box p{
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
  color: #000;
}
.home .services{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #20A4F3;
}
.home .services h2{
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding-top:40px;
  margin: 0;
}
.home .services p{
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  font-family: 'Playfair Display', serif;
  padding:5px;
  margin: 0;
}
.services .col-md-6{
  width: 50%;
  height: 100%;
  padding: 10px;
  margin: 0;
}
.services .left{
  background: #20A4F3;
}
.services .right{
  background: #2EC4B6;
}
.services .col-md-6 .box{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.box .container1,.box .container2 {
  position: relative;
  width: 50%;
  height: 100%;
  border: 1px solid #F6F7F8;
  display: flex;
  justify-content: center;
  margin: 5px;
  border-top-right-radius: 10px;
}

.box .container1 img,.box .container2 img
{
  display: block;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
}
.box .overlay1, .box .overlay2{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2ec4b5a9;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.3s ease;
  border: 1px solid #F6F7F8;
}
.box .container1:hover .overlay1, .box .container2:hover .overlay2 {
  width: 100%;
  border-top-right-radius: 40px;
}
.box .text1, .box .text2
 {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Lobster", cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.home .clients{
  width: 100%;
  height: 100%;
  padding:0;
  margin: 0;
  background: #F6F7F8;
}
.home .clients h2{
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding-top:40px;
  margin: 0;
}
.home .clients p{
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  font-family: 'Playfair Display', serif;
  padding:5px;
  margin: 0;
}
.clients .tech-slideshow {
  height: 200px;
  /* max-width: 800px; */
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  z-index: 1;
}

.tech-slideshow > div {
  height: 200px;
  width: 3100px;
  background: url(../image/partner.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 10s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 10s linear infinite;
}
.tech-slideshow:hover .mover-2 {
  opacity: 1;
}
.home .clients .col-md-4{
  width: 30%;
  height: 400px;
  padding: 0;
  /* margin: 0; */
  position: relative;
  background: #20A4F3;
  margin-top: -320px;
}
.home .clients .col-md-8{
  width: 70%;
  height: 80px;
  padding: 0;
  margin: 0;
  position: relative;
  background: #2EC4B6;
}

.home .about{
  width: 100%;
  height: 100%;
  padding:0;
  margin: 0;
  background: #F6F7F8;
}
.home .about h2{
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding-top:40px;
  margin: 0;
  z-index: 1;
}
.home .about p{
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  font-family: 'Playfair Display', serif;
  padding:5px;
  margin: 0;
  z-index: 1;
}
.about .col-md-4{
  background: #F6F7F8;
  width: 30%;
  height: 100%;
  padding:0;
  margin: 0;
}
.about .col-md-4 .box{
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 0;
}
.about .col-md-4 .box p{
  font-size: 1rem;
  font-weight: 600;
  text-align: justify;
  font-family: 'Playfair Display', serif;
}
.about .col-md-8{
  background: #20A4F3;
  width: 70%;
  height: 400px;
  padding:0;
  margin-top: -120px;
}

.home .contact{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #20A4F3;
}
.home .contact h2{
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding-top:40px;
  margin: 0;
  z-index: 1;
}
.home .contact p{
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  font-family: 'Playfair Display', serif;
  padding:5px;
  margin: 0;
  z-index: 1;
}
.home .contact .message{
  width: 30%;
  height: auto;
  padding: 0;
  margin:0;
  background: #20A4F3;
  display: flex;
}
.contact .message form{
  padding:10px;
  width: 100%;
}
.contact .message form .form-group{
  display: flex;
  width: 100%;
}
form .form-group 
  input[type=text] {
    width: 100%;
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    border: none;
    background: none;
    border-bottom: 1px solid #F6F7F8;
    color: #F6F7F8;
}

form .form-group i{
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  padding: 5px;
  margin: 0;
  color: #F6F7F8;
}
.home .contact .icons{
  width: 70%;
  height: 220px;
  padding: 10px;
  margin-top: -110px;
  background: #2EC4B6;
}
.contact .icons ul{
  padding-top: 100px;
  padding-left: 50px;
  width: 100%;
  margin: 0;
  display: flex;
}
.contact .icons ul li{
  list-style: none;
  padding:5px;
  margin: 5px;
}
.contact .icons ul li a{
  text-decoration: none;
  color: #F6F7F8;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px;
  margin: 0;
}
.contact .icons ul li a i{
  font-size: 2rem;
  font-weight: 700;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 0;
  border-radius: 50%;
  border: 1px solid #F6F7F8;
}




@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}

@keyframes square {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  40% {
    transform: rotateY(180deg);
    opacity: 1;
  }
  50% {
    transform: rotateY(-10deg);
    opacity: 1;
  }
  90% {
    transform: rotateY(-90deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(-180deg);
    opacity: 1;
  }
}