@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Gideon+Roman&family=Lato:wght@100&family=Lobster&family=Luxurious+Roman&family=Merienda:wght@700&family=Montserrat&family=Oswald:wght@400;500&family=Playfair+Display&family=Poppins:wght@100;500&family=Raleway:ital,wght@1,800&family=Roboto+Condensed:wght@300&family=Roboto:wght@100;500&family=Romanesco&family=Ubuntu:wght@700&family=Vollkorn:wght@500&display=swap');

.home {
  width: 100%;
  height: auto;
  padding-top: 105px;
  margin: 0;
}
.home .image {
  width: 100%;
  height: 450px;
  padding: 0;
  margin: 0;
  /* background: rgba(0, 0, 0, 0.116); */
  display: flex;
  z-index: 1;
  background-image: url('../video/back.gif');
  background-position: center;
  background-size: cover;
}
.image .giphy-embed{
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
  margin: 0;
}
.image #myVideo .video{
  width: 100%;
  height: 100%;
  padding:0;
  margin:0;
}
.image .bouncing-text {
  position:absolute;
  display: flex;
  font-size: 2.5rem;
  font-weight: 900;
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif; 
  margin-top: 20%;
  margin-left: 50%;
}

.b, .o, .u, .n, .c, .e, .f, .g, .h {
  position: relative;
  color: #ff834f;
  text-shadow: 0 3px #f8f8f8, 0 5px #000000, 0 7px #000000;
}

.b {
  animation: bounce 1s ease infinite;
  -webkit-animation: bounce 1s ease infinite;
}

.o {
  animation: bounce 1s ease infinite .1s;
  -webkit-animation: bounce 1s ease infinite .1s;
}

.u {
  animation: bounce 1s ease infinite .2s;
  -webkit-animation: bounce 1s ease infinite .2s;
}

.n {
  animation: bounce 1s ease infinite .3s;
  -webkit-animation: bounce 1s ease infinite .3s;
}

.c {
  animation: bounce 1s ease infinite .4s;
  -webkit-animation: bounce 1s ease infinite .4s;
}

.e {
  animation: bounce 1s ease infinite .5s;
 -webkit-animation: bounce 1s ease infinite .5s;
}
.f {
  animation: bounce 1s ease infinite .6s;
 -webkit-animation: bounce 1s ease infinite .6s;
}
.g {
  animation: bounce 1s ease infinite .7s;
 -webkit-animation: bounce 1s ease infinite .7s;
}
.h {
  animation: bounce 1s ease infinite .8s;
 -webkit-animation: bounce 1s ease infinite .8s;
}

.bouncing-text:before, .bouncing-text:after {
  content:"";
  position: absolute;
  background-color: rgba(0,0,0,0.4);
  width: 50px;
  height:5px;
  border-radius:50%;
  top:82px;
  z-index:-1;
}

.shadow, .shadow-two {
  position: absolute;
  top:82px;
  z-index:-1;
}

.shadow:before, .shadow:after, .shadow-two:before, .shadow-two:after {
  content:"";
  position: absolute;
  background-color: rgba(0,0,0,0.4);
  width: 50px;
  height:5px;
  border-radius:50%;
  top:0;  
}

.bouncing-text:before {
  left:0;
  animation: scale 1s linear infinite;
  -webkit-animation: scale 1s linear infinite;
}
.bouncing-text:after {
  left: 57px;
  animation: scale 1s linear infinite .1s;
  -webkit-animation: scale 1s linear infinite .1s;
}

.shadow:before {
  left: 116px;
  animation: scale 1s linear infinite .2s;
  -webkit-animation: scale 1s linear infinite .2s;
}

.shadow:after {
  left:175px;
  animation: scale 1s linear infinite .3s;
  -webkit-animation: scale 1s linear infinite .3s;
}

.shadow-two:before {
  left:232px;
  animation: scale 1s linear infinite .4s;
  -webkit-animation: scale 1s linear infinite .4s;
}

.shadow-two:after {
  left: 285px;
  animation: scale 1s linear infinite .5s;
  -webkit-animation: scale 1s linear infinite .5s;
}
/* .image h1{
  font-size: 2.5rem;
  font-weight: 900;
    font-family: 'Playfair Display', serif;
    position: absolute;
    color: #ff834f;
    margin-top: 10%;
    margin-left: 2%;
}
.image p{
  position: absolute;
  font-size: 1.5rem;
  font-weight: 700;
    font-family: 'Playfair Display', serif;
    color: #ff834f;
    margin-top: 12%;
    margin-left: 5%;
} */

/* .image ul {
  top: 100px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
}
.image ul li {
  width: 10%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: block;
  animation: square 8s infinite;
}
.image ul li p {
  font-size: 2.5rem;
  font-weight: 900;
  color: #000;
  text-align: center;
  margin-top: 200px;
  transform: scale(-1, 1);
}
.image ul li:nth-child(1) {
 animation-delay: 4s;
  animation-direction: 6s;
  background-image: url(../slider/1.png);
  background-size: cover;
  background-position: center;
}
.image ul li:nth-child(2) {
 animation-delay: 4s;
  animation-direction: 6s;
  background-image: url(../slider/2.png);
    background-size: cover;
  background-position: center;
}
.image ul li:nth-child(3) {
 animation-delay: 4s;
  animation-direction: 6s;
  background-image: url(../slider/3.png);
    background-size: cover;
  background-position: center;
}
.image ul li:nth-child(4) {
 animation-delay: 4s;
  animation-direction: 6s;
  background-image: url(../slider/4.png);
    background-size: cover;
  background-position: center;

}
.image ul li:nth-child(5) {
 animation-delay: 4s;
  animation-direction: 6s;
  background-image: url(../slider/5.png);
    background-size: cover;
  background-position: center;

}
.image ul li:nth-child(6) {
 animation-delay: 4s;
  animation-direction: 6s;
 background-image: url(../slider/6.png);
   background-size: cover;
  background-position: center;

}
.image ul li:nth-child(7) {
 animation-delay: 4s;
  animation-direction: 6s;
  background-image: url(../slider/7.png);
    background-size: cover;
  background-position: center;

}
.image ul li:nth-child(8) {
 animation-delay: 4s;
  animation-direction: 6s;
 background-image: url(../slider/8.png);
   background-size: cover;
  background-position: center;

}
.image ul li:nth-child(9) {
 animation-delay: 4s;
  animation-direction: 6s;
  background-image: url(../slider/9.png);
    background-size: cover;
  background-position: center;

}
.image ul li:nth-child(10) {
  animation-delay: 4s;
  animation-direction: 6s;
  background-image: url(../slider/10.png);
    background-size: cover;
  background-position: center;
} */
.home .product{
  widows: 100%;
  height: 400px;
  padding:0;
  margin: 0;
  background: #20A4F3;
}
.home .product h2{
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding-top:40px;
  margin-top: 0;
}
.home .product p{
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  font-family: 'Playfair Display', serif;
  padding:5px;
  margin: 0;
}
.product .col-md-8{
  background: #2EC4B6;
  padding:0;
  margin:0;
  width: 75%;
  height: 300px;
}
.product .col-md-8 .row{
  width: 100%;
  height: 100%;
  padding-top:10px;
  padding-bottom:10px;
  margin: 0;
  display: flex;
}
.product .col-md-8 .row .col-md-3{
  width: 25%;
  padding:10px;
  margin: 0;
  display: flex;
  justify-content: center;
}
.product .col-md-8 .row .col-md-3 a{
  padding: 10px;
  margin: 0;
  text-decoration: none;
  color: #fff;
}
.product .col-md-8 .row .col-md-3 a .card{
  width: 220px;
  height: 250px;
  padding: 0;
  margin: 0;
}
.product .col-md-8 .row .col-md-3 a .card .card-body{
  width: 100%;
  height: 70%;
  padding: 20px;
  margin: 0;
  background: #fff;
}
.product .col-md-8 .row .col-md-3 a .card .card-body i{
  font-size: 4rem;
  font-weight: 900;
  padding: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  color:#3066BE;
}
.product .col-md-8 .row .col-md-3 a .card .card-footer{
  width: 100%;
  height: 30%;
  padding: 5px;
  margin:0;
  display: flex;
  justify-content: center;
  background: #fff;
  border: none;
}
.product .col-md-8 .row .col-md-3 a .card .card-footer p{
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Playfair Display', serif;
  color: #000;
}
.product .col-md-4{
  width: 25%;
  height: 300px;
  padding: 0;
  margin:0;
}
.product .col-md-4 .box{
  width: 100%;
  height: 300px;
  padding: 10px;
  margin: 0;
  /* border: 1px solid #F6F7F8; */
  background: #20A4F3;
}

.product .col-md-4 .box p{
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
  color: #F6F7F8;
}
.home .services{
  widows: 100%;
  height: 500px;
  padding: 0;
  margin: 0;
  background: #20A4F3;
}
.home .services h2{
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding-top:40px;
  margin: 0;
}
.home .services p{
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  font-family: 'Playfair Display', serif;
  padding:5px;
  margin: 0;
}
.home .services .col-md-8{
  width: 75%;
  height:500px;
  padding:0;
  margin: 0;
}
.home .services .col-md-8 .box{
  width: 100%;
  height:100%;
  padding:10px;
  margin:0;
  display: flex;
  justify-content: center;
}
.home .services .col-md-8 .box ul{
  width: 22%;
  height: 100%;
  padding:10px;
  margin:0;
}
.home .services .col-md-8 .box ul li{
  width: 100%;
  padding:5px;
  margin:0;
  display: flex;
}
.home .services .col-md-8 .box ul li i{
  font-size: 1.5rem;
  font-weight: 700;
  padding:5px;
  margin:0;
  color: #F6F7F8;
}
.home .services .col-md-8 .box ul li a{
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  padding:5px;
  margin:0;
  color: #F6F7F8;
   font-family: 'Playfair Display', serif;
}
.home .services .col-md-4{
  width: 25%;
  height: 480px;
  padding:10px;
  margin-top:-90px;
  background: #2EC4B6;
}
.home .services .col-md-4 p{
  padding-top: 100px;
  font-size: 1.4rem;
  font-weight: 500;
   font-family: 'Playfair Display', serif;
  margin: 0;
  color: #F6F7F8;

}

.home .clients{
  width: 100%;
  height: 100%;
  padding:0;
  margin: 0;
  background: #F6F7F8;
}
.home .clients h2{
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding-top:40px;
  margin: 0;
  z-index: 1;
}
.home .clients p{
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  font-family: 'Playfair Display', serif;
  padding:5px;
  margin: 0;
  z-index: 1;
}
.clients .tech-slideshow {
  height: 200px;
  max-width: 100%;
  /* width: 100%; */
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  z-index: 1;
}

.tech-slideshow > div {
  height: 200px;
  width: 3100px;
  background: url(../image/partner.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 5s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 10s linear infinite;
}
.tech-slideshow:hover .mover-2 {
  opacity: 1;
}
.home .clients .col-md-4{
  width: 30%;
  height: 400px;
  padding: 0;
  /* margin: 0; */
  position: relative;
  background: #20A4F3;
  margin-top: -320px;
}
.home .clients .col-md-8{
  width: 70%;
  height: 400px;
  padding: 0;
  margin-top: -320px;
  position: relative;
  background: #2EC4B6;
}

.home .about{
  width: 100%;
  height: 100%;
  padding:0;
  margin: 0;
  background: #F6F7F8;
}

.about .col-md-4{
  background: #F6F7F8;
  width: 30%;
  height: 100%;
  padding:0;
  margin: 0;
}
.about .col-md-4 .box{
  width: 100%;
  height: 400px;
  padding: 10px;
  margin: 0;
}
.about .col-md-4 .box img{
  width: 100%;
  height: 100%;
}
/* .about .col-md-4 .box h2{
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding-top:40px;
  margin: 0;
  z-index: 1;
}
.about .col-md-4 .box p{
  font-size: 1rem;
  font-weight: 600;
  text-align: justify;
  font-family: 'Playfair Display', serif;
  padding:5px;
} */
.about .col-md-8{
  background: #20A4F3;
  width: 70%;
  height: 400px;
  padding:10px;
  margin: 0;
}
.about .col-md-8 p{
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: #fff;
}

.home .contact{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #20A4F3;
}
.home .contact .message{
  width: 30%;
  height: auto;
  padding: 50px;
  margin:0;
  background: #20A4F3;
  display: block;
}
.home .contact .message h2{
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding:0;
  margin: 0;
  z-index: 1;
}
.home .contact .message p{
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  font-family: 'Playfair Display', serif;
  padding:5px;
  margin: 0;
  z-index: 1;
}

.home .contact .icons{
  width: 70%;
  height: 180px;
  padding-top: 50px;
  margin-top: 0;
  background: #2EC4B6;
  display: flex;
}
.contact .icons form{
  padding:10px;
  width: 100%;
}
.contact .icons form .form-group{
  display: flex;
  width: 100%;
}
form .form-group 
  input[type=text] {
    width: 100%;
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    border: none;
    background: none;
    border-bottom: 1px solid #F6F7F8;
    color: #F6F7F8;
}

form .form-group i{
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  padding: 5px;
  margin: 0;
  color: #F6F7F8;
}
.contact .icons ul{
  padding-top: 0;
  padding-left: 0;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}
.contact .icons ul li{
  list-style: none;
  padding:5px;
  margin: 5px;
}
.contact .icons ul li a{
  text-decoration: none;
  color: #F6F7F8;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px;
  margin: 0;
}
.contact .icons ul li a i{
  font-size: 2rem;
  font-weight: 700;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 0;
  border-radius: 50%;
  border: 1px solid #F6F7F8;
}


 @keyframes bounce {
        0%   { transform: scale(1,1) translateY(0); }
        10%  { transform: scale(1.1,.9) translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-55px);}
        50%  { transform: scale(1.05,.95) translateY(0); }
        58%  { transform: scale(1,1) translateY(-7px); }
        65%  { transform: scale(1,1) translateY(0);}
        100% { transform: scale(1,1) translateY(0);}
    }

@-webkit-keyframes bounce {
       0%   { transform: scale(1,1) translateY(0); }
        10%  { transform: scale(1.1,.9) translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-55px);}
        50%  { transform: scale(1.05,.95) translateY(0); }
        58%  { transform: scale(1,1) translateY(-7px);}
        65%  { transform: scale(1,1) translateY(0);}
        100% { transform: scale(1,1) translateY(0);} 
}

@keyframes moveSlideshow {
    0% { 
    transform: translateX(0);  
  }
  100% { 
    transform: translateX(-30%);  
  }
}

@keyframes scale {
  0% {transform: scaleX(1);}
  25% {transform: scaleX(0.4);}
  50% {transform: scaleX(1);}
  75% {transform: scaleX(0.9);}
  100% {transform: scaleX(1);}
}

@-webkit-keyframes scale {
   0% {transform: scaleX(1);}
  25% {transform: scaleX(0.4);}
  50% {transform: scaleX(1);}
  75% {transform: scaleX(0.9);}
  100% {transform: scaleX(1);}
}


@keyframes square {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  40% {
    transform: rotateY(180deg);
    opacity: 1;
  }
  50% {
    transform: rotateY(10deg);
    opacity: 1;
  }
  90% {
    transform: rotateY(90deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(180deg);
    opacity: 1;
  }
}